node_modules
.DS_Store
Thumbs.db

# in case we have some accidental test web or rewrite configs in the folder
*.config

# same with htaccess outputs
.htaccess


*.json
!package.json
!package-lock.json

# I've been using this to output checker.js resuls, don't want to accidentally commit it
*.txt
*.tsv